/* Light mode  */
.light-mode {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-background: #f0f0f0;
  --button-text: #000000;
}

/*  Dark Mode  */
.dark-mode {
  --background-color: #1c1c1c;
  --text-color: #f0f0f0;
  --button-background: #333333;
  --button-text: #ffffff;
}



button {
  background-color: var(--button-background);
  color: var(--button-text);
  border: none;
  border-radius: 20px;
  padding: 10px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  opacity: 0.8;
}



.dark-mode-toggle:hover {
  opacity: 0.8;
}
